# Ignore node_modules directory
node_modules/

# Ignore build directory
build/

# Ignore all files in the dist directory
dist/

# Ignore specific file
src/ignored-file.js
index.js
react-native.config.js

components
babel.config.js
metro.config.js